<a href="https://colab.research.google.com/github/cristianrovira/BTE320/blob/main/BTE320_In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ACTIVITY 1: Shape Area Calculator
# Surface area of a cylinder => 2PiR^2 + 2PiRH

Pi = 3.14
r = 3
h = 10

SA = 2 * Pi * r ** 2 + 2 * Pi * r * h
print(SA)

244.92000000000002

In [ ]:
#ACTIVITY 2: Game of rock, paper, or scissors
import random
game_choice = str(input("Would you like to play a game? Answer 'yes' or 'no'. ")).lower()
while game_choice == "yes":
  player_1 = input("Player 1: choose rock, paper, or scissors. ").lower()
  player_2 = random.choice(['rock', 'paper', 'scissors'])
  print(f"Computer chose {player_2}.")

  if player_1 == player_2:
    print("Its a tie.")

  elif ((player_1 == "rock" and player_2 == "scissors")
  or (player_1 == "paper" and player_2 == "rock")
  or (player_1 == "scissors" and player_2 == "paper")):
    print("You win!")
    print()

  elif ((player_1 == "scissors" and player_2 == "rock")
  or (player_1 == "rock" and player_2 == "paper")
  or (player_1 == "paper" and player_2 == "scissors")):
    print("You lose!")
    print()

  else:
    print("Invalid input. Please enter a valid choice.")
    print()

  game_choice = input("Would you like to play again? Answer 'yes' or 'no'. ")

In [ ]:
#ACTIVITY 3: Simple numerical calculator

number_1 = float(input("What is the first number? "))
number_2 = float(input("What is the second number? "))
math_operation = input("Which operation would you like to perform? (+, -, *, /, **) ")
print()

if(math_operation == "+"):
  result = number_1 + number_2
elif(math_operation == "-"):
  result = number_1 - number_2
elif(math_operation == "*"):
  result = number_1 * number_2
elif(math_operation == "/"):
  result = number_1 / number_2
elif(math_operation == "**"):
  result = number_1 ** number_2
else:
  print("Invalid input. Please enter a valid operator (+, -, *, /, **).")

print(f"The result is {result}.")

print("Program ended.")

What is the first number? 1
What is the second number? 1
Which operation would you like to perform? (+, -, *, /, **) +

The result is 2.0.
Program ended.

In [ ]:
l = []
keyboard_input = int(input("Give a value to add to the list: "))
while keyboard_input != 0:
  l.append(keyboard_input)
  keyboard_input = int(input("Give another value to add to the list: "))

print(l)

Give a value to add to the list: 1
Give another value to add to the list: 2
Give another value to add to the list: 0
[1, 2]

In [ ]:
#ACTIVITY 6 Months2Numbers:
#   Use a dictionary to assign the names to the numbers per month
months = {}
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(len(names)):
  months[number[i]] = names[i]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:
# Assignment 1: House Hunting 10/9/2024

# Input
annual_salary = float(input("Enter your annual salary: "))
portion_saved = float(input("Enter the percent of your salary to save, as a decimal: "))
total_cost = float(input("Enter the cost of your dream home: "))

# Variables
portion_down_payment = 0.25
current_savings = 0.0
r = 0.04

# Down payment calculation
down_payment = total_cost * portion_down_payment

# Monthly salary
monthly_salary = annual_salary / 12
months = 0

# Months to save up for down payment
while current_savings < down_payment:
    current_savings += current_savings * (r / 12)
    current_savings += monthly_salary * portion_saved
    months += 1

print(f"Number of months: {months}")

In [ ]:
# Assignment 2: Saving with Raise 10/9/2024

# User input
annual_salary = float(input("Enter your annual salary: "))
portion_saved = float(input("Enter the percent of your salary to save, as a decimal: "))
total_cost = float(input("Enter the cost of your dream home: "))
semi_annual_raise = float(input("Enter the semi-annual raise, as a decimal: "))

# Variables
portion_down_payment = 0.25
current_savings = 0.0
r = 0.04

# Down payment calculation
down_payment = total_cost * portion_down_payment

# Monthly salary
monthly_salary = annual_salary / 12
months = 0

# Months to save up for down payment
while current_savings < down_payment:
    current_savings += current_savings * (r / 12)
    current_savings += monthly_salary * portion_saved
    months += 1

# Semi-annual raise
    if months % 6 == 0:
        monthly_salary *= (1 + semi_annual_raise)

print(f"Number of months: {months}")

In [ ]:
#Assignment 3: Check if a number is within a range 10/9/2024

def range_check(number, low, high):
    if low <= number <= high:
        print(f"{number} is in the range between {low} and {high}.")
    else:
        print(f"{number} is not in the range between {low} and {high}.")

TypeError: range_check() got an unexpected keyword argument 'num'

In [ ]:
def range_check(number, low, high):
    if low <= number <= high:
        return True
    else:
        return False

print(range_check(number=2,low=1,high=3))

True

In [ ]:
#ACTIVITY 8 Reverse Function (recursion):
#   Design a recursive function that takes a string input and returns the string backwards

string = input("Enter a string: ")

def reverse_string(string):
  if len(string) == 0:
        return string
  else:
    return reverse_string(string[1:]) + string[0]

reverse_string(string)

Enter a string: recursive

'evisrucer'

In [ ]:
def calcTuition(credits):
    if credits >= 12:
        return 20000
    else:
        return 1200 + (1700 * credits)

credits = int(input("Enter the number of credits: "))
tuition = calcTuition(credits)
print(f"The tuition for {credits} credits is ${tuition}")

Enter the number of credits: 15
The tuition for 15 credits is $20000

In [ ]:
"""
Function that calcultes the weighted average of a list L, given weights w.
The function should handle th efollowing exception error types:
- ZeroDivisionError (returns an empty list)
- TypeError (returns an empty list)
- ValueError (returns an empty list)
"""
def wAvg(L,w):
  res = []
  try:
      for i in range(len(L)):
        res.append(L[i]*w[i])
      return sum(res) / sum(w)
  except ZeroDivisionError:
    print("Division by zero")
    return []
  except TypeError:
    print("Non-numerical objects found")
    return []
  except Exception as e:
    print(f"Unkown error: {e}")
    return float('nan')

wAvg ([1,2,3], [.2,0,-.2])

2.333333333333333

In [ ]:
#ACTIVITY 9 Student Class:

'''
Define a class named student. Student has two attributes: name(str) and number (str).
Create two student objects out of this class.
The objects will be:
name: First Name Last Name, number: 000

The student class defined above has a new attribute
This attribute is "courses" and it will keep the list of courses that the student takes.
Its type is list and it will initialize as an empty list. There will be a method named 'enroll' to enroll the course.
The student will enroll the course, if it has not enrolled already. Moreover, there will be a method named 'get-courses' which will return the course list.
Redefine the student class based on this information.

'''

class Student:
    def __init__(self, name, number):
        self.name = name
        self.number = number

    def __repr__(self):
      return f'Name: {self.name}.'

    def set_name(self, new_name):
      self.name = new_name

    def get_name(self):
      return self.name

    def enroll(self, course):
        if course not in self.courses:
            self.courses.append(course)
        else:
            print(f"{self.name} is already enrolled in {course}.")

    def get_courses(self):
        return self.courses

student1 = Student("James Bond", "007")
student2 = Student("Clark Kent", "333")

print(student1.name, student1.number)
print(student2.name, student2.number)

print(student1)

student2.set_name('Bob')
student2.get_name()

James Bond 007
Clark Kent 333
Name: James Bond.

In [ ]:
s = Student('Bob', '123')
s.enroll('ABC123')
s.enroll('ABC456')
s.enroll('ABC789')
s.get_courses()

AttributeError: 'Student' object has no attribute 'courses'

In [ ]:
student2.name = 'John'
student2.name

'John'

In [ ]:
class Coordinate:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def distance(self, other):
    distance = ((self.x - other.x)**2 + (self.y - other.y)**2)**0.5
    return distance

  def __str__(self):
    return f"({self.x}, {self.y})"


p1 = Coordinate(0,0)
p2 = Coordinate(6,8)

p1.distance(p2)
p2.distance(p1) #Same as saying Coordinate.distance(p1,p2)

In [ ]:
'''
The student class defined above has a new attribute
This attribute is "courses" and it will keep the list of courses that the student takes.
Its type is list and it will initialize as an empty list. There will be a method named 'enroll' to enroll the course.
The student will enroll the course, if it has not enrolled already. Moreover, there will be a method named 'get-courses' which will return the course list.
Redefine the student class based on this information.

'''

def enroll(self, course):
    if course not in self.courses:
        self.courses.append(course)

def get_courses(self):
    return self.courses